body{
    align-items: center;
    justify-content: center;

    background-image: url("../img/tela-user.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;    
}

section {
    height: 200px;
    width: 96.85%;
    border: 2px solid #000000;
    padding: 20px;
    font-family: arial;
    background-color: cadetblue;
}

#atendimento{
    font-size: 50px;
}


footer{
    margin-top: 90px;
    display: flex;
}

div{
    width: 47%;
    border: 2px solid #000000;
    padding: 20px;
    font-family: arial;
    background-color: cadetblue;
}

.distanciar{
    margin: 0 0 0 6% ;
}
